.card {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 300px;
  background-color: #000000;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
  transition: 500ms;
}

.card > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 500ms;
}

.card:hover {
  background-color: black;
  transform: scale(1.1);
  transition: 500ms;
}

.card:hover > img {
  transition: 500ms;
  opacity: 0.8;
}

.card:hover .view-btn {
  display: block;
}

.description {
  font-weight: 600;
  width: 100%;
  padding: 1em;
}

.view-btn {
  display: none;
  position: absolute;
  top: 50%;
  padding: .4em 1em .4em 1em;
  font-size: 1em;
  font-weight: 500;
  color: #FFFFFF;
  border: none;
  background-color: rgb(61, 72, 226);
  cursor: pointer;
  transition: 500ms;
}