.description-container {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  margin: 2em 0 8em 0;
  gap: 2em;
}

.description {
  width: 30em;
  font-weight: 400;
}

.description > * {
  margin: 1rem;
}

.description > button {
  width: 100%;
  background-color: dodgerblue;
  border: none;
  color: #ffffff;
  font-size: 1.2em;
  padding: .6em;
}

.description > button {
  cursor: pointer;
}

.description > h1 {
  text-align: center;
  color: rgb(21, 82, 44);
  letter-spacing: .5em;
  font-size: 1.4em;
}

.description > p {
  color: rgb(21, 82, 44);
}

@media (max-width: 500px) {
  .description-container {
    display: block;
  }
}