.hero-container {
  height: 100%;
  text-align: center;
  background-image: url('/public/resources/IMG_0404.jpg');
  background-repeat: no-repeat;
  background-position: 0 45%;
  background-size: cover;
}

.available-btn {
  color: #FFFFFF;
  background-color: dodgerblue;
  font-size: 2em;
  padding: .2em 1em .2em 1em;
  border: none;
  letter-spacing: .2em;
  cursor: pointer;
}