.selected-img {
  width: 25em;
}

.unselected-img-container {
  text-align: center;
}

.unselected-img {
  margin: .6em;
  width: 5em;
  height: 5em;
}

.selected-img, .unselected-img {
  cursor: pointer;
}