.modal-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(0, 0, 0, .8);
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 1;
}

.modal-container {
  display: flex;
  flex-direction: column;
}

.modal-container > div {
  display: flex;
  align-items: center;
}

.close-btn {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 2em;
  width: 1em;
  align-self: end;
  cursor: pointer;
  margin-right: 2em;
}

.chevron {
  color: #ffffff;
  font-size: 4em;

}

.modal-selected-img {
  width: 40em;
}

.modal-unselected-img {
  margin: .6em;
  width: 10em;
  height: 10em;
  cursor: pointer;
}