header {
  background: linear-gradient(green, rgb(21, 82, 44));
  padding: 1em 2em 1em 2em;
  font-family: sans-serif;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;
}

.logo > a {
  display: flex;
  align-items: center;
  gap: 2em;
}

.logo > a > img {
  width: 2.4em;
}

.logo > a > span {
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
  letter-spacing: .5em;
  color: #FFFFFF;
  font-size: 2.4em;
}

.links {
  display: flex;
  align-items: flex-end;
  margin-bottom: .4em;
  gap: 1.6em;
  list-style: none;
  letter-spacing: .2em;
  color: #FFFFFF;
}

.links > a {
  color: #FFFFFF;
  text-decoration: none;
}

sup {
  font-size: .8em;
}