.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('/public/resources/IMG_0404.jpg');
  background-repeat: no-repeat;
  background-position: 0 45%;
  background-size: cover;
}

.available-btn {
  color: #FFFFFF;
  background-color: dodgerblue;
  font-size: 2em;
  padding: .2em 1em .2em 1em;
  border: none;
  letter-spacing: .2em;
  cursor: pointer;
}

@media (max-width: 750px) {
  .hero-container {
    background-position: center;
  }
}