.modal-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(0, 0, 0, .8);
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 1;
}

.modal-container {
  width: 50%;
  min-width: 400px;
}

.modal-container > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-btn-container {
  justify-content: end !important;
}

.close-btn {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 2em;
  width: 1em;
  cursor: pointer;
  margin-right: 2em;
}

.chevron {
  color: #ffffff;
  font-size: 4em;
  cursor: pointer;
}

.modal-selected-img {
  width: 100%;
  min-width: 300px;
}