header {
  background: linear-gradient(green, rgb(21, 82, 44));
  padding: 1em 2em 1em 2em;
  font-family: sans-serif;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 2em;
}

.logo > img {
  width: 2.4em;
}

.logo > span {
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
  letter-spacing: .5em;
  color: #FFFFFF;
  font-size: 2.4em;
}

.links {
  display: flex;
  align-items: flex-end;
  margin-bottom: .4em;
  gap: 1.6em;
  list-style: none;
  letter-spacing: .2em;
  color: #FFFFFF;
}

.mobile-links {
  display: none;
}

.mobile-nav-menu {
  background-color: #FFFFFF;
  border: solid 2px rgb(21, 82, 44);
  padding: 1em;
  font-size: 1.2em;
  display: none;
  position: absolute;
  top: 130px;
  right: 0px;
}

.mobile-nav-menu > ul > a {
  color: rgb(21, 82, 44);
  list-style: none;
}

.links > a {
  color: #FFFFFF;
  text-decoration: none;
}

sup {
  font-size: .8em;
}

.short-text {
  display: none;
}

@media (max-width: 750px) {
  .links {
    display: none;
  }

  .mobile-links {
    display: flex;
    align-items: center;
    margin-top: 4em;
    gap: .8em;
    color: #FFFFFF;
  }

  .mobile-links > a {
    color: #FFFFFF;
  }

  .mobile-nav-menu {
    display: block;
  }
}

@media (max-width: 945px) {
  .short-text {
      display: block;
    }
  
  .full-text {
    display: none;
  }
}